h1 {
    margin-top: 12%;
    text-align: center;
}

.container {
    display: flex; 
    align-items: center;
}

h2 {
    font-size: 45px;
    overflow: hidden;
}


.img {
    max-width: 400px;
    max-height: 450px;
    width: 100%; /* Ajusta para que as imagens se ajustem ao tamanho do card */
    height: auto;
    display: block;
}

.card-container {
    display: flex; /* Usamos flex para alinhar as imagens */
    justify-content: center; /* Alinha os cards no centro horizontalmente */
    gap: 20px; /* Adiciona um espaço entre os cards */
    margin-top: 90px; /* Adiciona margem no topo para distanciar do conteúdo anterior */
}

.card {
    display: flex; /* Alinha as imagens dentro de cada card */
    justify-content: center;
    align-items: center;
    width: 300px; /* Definimos uma largura para os cards */
}

.card img {
    width: 100%; /* As imagens vão ocupar toda a largura do card */
    height: auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.card:hover img{
    transform: scale(1.1);
}

.card-content{
    margin-left: 20%;
    background-color: rgb(64, 83, 33);
    margin-right: 20%;
}

.card-content h3{
    text-shadow: 5%;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
        font-family: 'Mea Culpa', cursive;
        font-size: 3rem;
        font-weight: 400;
}

.especial{
    margin-top: 0;
margin-right: 5rem;
margin-left: 5rem;
text-align: center;
/*background-color:  rgb(64, 83, 33);*/
padding: 3rem;
}

.especial h1{
    font-size:5rem;
}

.especial h3{
    font-size: 2rem;
    color: white;
    background-color: rgb(64, 83, 33);
    margin-left: 3rem;
}

.especial-container{
    display: flex;
    justify-content: space-around;
}

#div2{
    background-image: url("https://i.pinimg.com/736x/fa/c2/91/fac291b9669aca4328f027c82138769e.jpg");
    background-size: cover; /* A imagem de fundo vai cobrir toda a área da div */
    background-position: center; /* A imagem será centralizada */
    padding: 5.8rem; /* Espaçamento interno, ajustável conforme necessidade */
    height: auto;
    width: 150px;
    max-width: 100%;
}

#div2 a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

#div3{
    background-image: url("https://i.pinimg.com/originals/89/ee/94/89ee9456009d21a45b86bf746853c5ae.gif");
    background-size: cover; /* A imagem de fundo vai cobrir toda a área da div */
    background-position: center; /* A imagem será centralizada */
    padding: 5.8rem; /* Espaçamento interno, ajustável conforme necessidade */
    height: auto;
    width: 150px;
    max-width: 100%;
}

#div3 a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

body{
    margin-bottom: 5rem;
}

