.abelha{
    margin-top: 8rem;
    text-align: center;
}

.abelha img{
    width: 60rem;
}

.container{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;  
    text-align: center;
}

.card {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); 
    transition: transform 0.3s ease;
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
    overflow:hidden;
    align-items: center;
    position: relative;
    margin-bottom: 30px
}

.card:hover{
    transform: scale(1.05);
}

.card .img {
    max-width: 400px;
    max-height: 450px;
    width: auto;
    height:auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.card:hover img{
    transform: scale(1.1);
}

h1{
    text-align: center;
        font-family: 'Mea Culpa', cursive;
        font-size: 3rem;
        font-weight: 400;
  font-style: normal;

}

h2{
    margin-top: 12%;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}



#capitu a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

#capitu{
    width: 100%;
    height: 5rem;
    text-align: center;
  
}

#segredo a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#segredo{
    width: 100%;
    height: 5rem;
    text-align: center;
}

#coracao a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#coracao{
    width: 100%;
    height: 5rem;
    text-align: center;
}

#anne{
    width: 100%;
    height: 5rem;
    text-align: center;
}

#anne a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

#moomin{
    width: 100%;
    height: 5rem;
    text-align: center;
}

#moomin a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

#gilmore{
    width: 100%;
    height: 5rem;
    text-align: center; 
}

#gilmore a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}
